
/* CABEÇALHO */
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background: #171821;
    color: #fff;
    font-weight: bold;
    font-size: 20px;

    box-shadow: 0px 4px 20px #6025C0;

    
}

.navigation{
    display: flex;
    gap: 50px;
}

/* HOME */

.home{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    
}

.text-home{
    margin-top: 5px;
}

#line-1{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
}

#line-2{

    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    background: linear-gradient(180deg, #E98171 0%, #EA9571 48.44%, #E5AC73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#line-3{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

}
.imagem-home img{
    width: 691.76px;
    height: 466.57px;
    left: 667.6px;
    top: 201.32px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px #6025C0;
}