@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.menu-responsive{
    display: none;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.tracos-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.line{
    display: flex;
    background: #FFFFFF;
    width: 28px;
    height: 3px;
    border-radius: 50px;
    transition: all 0.3s;
}

.line:nth-child(1), .line:nth-child(3){
    background: #6220CF;
}


/* EFEITO DE CICURLO */

.circle1 {
    position: absolute;
    width: 222px;
    height: 222px;
    left: 280px;
    top: 2500px;

    background: linear-gradient(180deg, rgba(85, 23, 227, 0.8) 43.75%, rgba(223, 139, 113, 0.8) 100%);
    filter: blur(75px);
}

.circle2 {
    position: absolute;
    width: 222px;
    height: 222px;
    left: 840px;
    top: 2500px;

    background: linear-gradient(180deg, rgba(85, 23, 227, 0.8) 43.75%, rgba(223, 139, 113, 0.8) 100%);
    filter: blur(75px);
}

.circle3 {
    position: absolute;
    width: 222px;
    height: 222px;
    left: 1415px;
    top: 2500px;

    background: linear-gradient(180deg, rgba(85, 23, 227, 0.8) 43.75%, rgba(223, 139, 113, 0.8) 100%);
    filter: blur(75px);
}

/*  Scrool */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--branco);
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6A2FAB 0%, #6220CF 46.88%, #5517E3 100%);
    border-radius: 20px;
}

/* CABEÇALHO */

.cabecalho {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background: #171821;
    color: #fff;
    font-weight: bold;
    font-size: 20px;

    box-shadow: 0px 4px 20px #6025C0;
    width: 100%;

    z-index: 10;

}


.navigation {
    display: flex;
    gap: 50px;

}

.cabecalho a:hover {
    color: #6025C0;
}

/* HOME */

.home {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;

}

.text-home {
    margin-top: 180px;
}

#line-1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #fff;
}

#line-2 {

    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    background: linear-gradient(180deg, #E98171 0%, #EA9571 48.44%, #E5AC73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#line-3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    color: #FFFFFF;

}

.imagem-home img {
    width: 850px;
    height: 650px;
    left: 667.6px;
    top: 201.32px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px #6025C0;

    margin-top: 180px;
}

.button-home {
    padding: 15px 40px;
    background: linear-gradient(180deg, #6A2FAB 0%, #6220CF 46.88%, #5517E3 100%);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;

    cursor: pointer;
}

.button-home:hover {
    box-shadow: 0px 2px 8px #6025C0;
}


/* SECTION SOBRE */

.sobre {
    margin-top: 200px;
    padding: 30px 100px;
}

.titulos {
    display: flex;
    justify-content: center;

    background: linear-gradient(180deg, #E98171 0%, #EA9571 48.44%, #E5AC73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-size: 44px;

    margin-bottom: 150px;
}

.container-sobre {
    display: flex;
    justify-content: space-between;

}

.imagem-sobre img {
    border-radius: 15px;
    box-shadow: 0px 4px 20px #6025C0;

}

.text-sobre {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
}

/* SECTION EVENTO */

.evento {
    margin-top: 200px;
    padding: 30px 100px;
}

.text-evento {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
}

.imagens-eventos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.container1-eventos {
    width: 307px;
    height: 358px;
    left: 144px;
    top: 2188px;

    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(75px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
}

.container2-eventos {
    width: 307px;
    height: 358px;
    left: 144px;
    top: 2188px;

    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(75px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
}

.container3-eventos {
    width: 307px;
    height: 358px;


    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(75px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
}

.container1-eventos img {
    border-radius: 20px;
    padding: 15px;
    max-width: 100%;
    height: 358px;
}

.container2-eventos img {
    border-radius: 20px;
    padding: 15px;
    max-width: 100%;
    height: 358px;
}

.container3-eventos img {
    border-radius: 20px;
    padding: 15px;
    max-width: 100%;
    height: 358px;
}

/* SECTION INSCREVA-SE */


.inscreva-se {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    padding: 30px 300px;
}

.container-inscreva-se {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;

    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(75px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 15px;
    align-items: center;
}

.container-titulo {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #E98171 0%, #EA9571 48.44%, #E5AC73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-size: 28px;
    margin-bottom: 80px;
    font-weight: bold;

}

.form-container {
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
    font-size: 18px;
}


.col-1 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    gap: 30px;
}

.col-1 div {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 8px;
}

.col-1 div input {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.88);
    border-radius: 5px;
    padding: 10px 120px 10px 10px;
    color: #fff;

}

.col-1 div select {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.88);
    border-radius: 5px;
    padding: 10px 120px 10px 10px;
    color: #fff;

}

option {
    color: #fff;
    background: #171821;
}

.col-2 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #FFFFFF;
    gap: 30px;
}

.col-2 div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.col-2 div input {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.88);
    border-radius: 5px;
    padding: 10px 120px 10px 10px;
    color: #fff;

}

.button-registrar {
    padding: 15px 40px;
    margin-top: 80px;
    width: 400px;
    background: linear-gradient(180deg, #6A2FAB 0%, #6220CF 46.88%, #5517E3 100%);
    border-radius: 10px;

    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.button-registrar:hover {
    box-shadow: 0px 2px 8px #6025C0;
}

/* RODAPÉ */

.rodape {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    gap: 50px;
}






/* RESPONSIVDADE */

@media screen and (max-width: 1600px) {
    .imagem-home img {
        width: 620px;
        height: 470px;
    }

    .imagem-sobre img {

        width: 600px;
        height: 400px;
    }

    .text-sobre {
        font-size: 24px;
    }

    .circle1 {
        left: 220px;
        top: 2320px;
    }

    .circle2 {
        left: 660px;
        top: 2320px;
    }

    .circle3 {
        left: 1100px;
        top: 2320px;
    }

    .inscreva-se {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        padding: 30px 150px;
    }
}


@media screen and (max-width: 1400px) {

    /* SECTION HOME */

    #line-1 {
        font-size: 40px;
    }

    #line-2 {
        font-size: 40px;
    }

    #line-3 {
        font-size: 20px;
    }


    .imagem-home img {
        width: 500px;
        height: 400px;
    }

    .button-home {
        padding: 10px 30px;
    }

    /* SECTION SOBRE */
    .imagem-sobre img {
        width: 450px;
        height: 300px;
    }

    .text-sobre {
        font-size: 20px;
    }

    .circle1 {
        left: 180px;
        top: 2150px;
    }

    .circle2 {
        left: 560px;
        top: 2150px;
    }

    .circle3 {
        left: 940px;
        top: 2150px;
    }



    .inscreva-se {
        padding: 30px 100px;
    }


}


@media screen and (max-width: 1200px) {

    /* SECTION HOME */

    #line-1 {
        font-size: 32px;
    }

    #line-2 {
        font-size: 32px;
    }

    #line-3 {
        font-size: 16px;
    }


    .imagem-home img {
        width: 450px;
        height: 350px;
    }

    .button-home {
        padding: 10px 30px;
    }

    /* SECTION SOBRE */
    .imagem-sobre img {
        width: 400px;
        height: 280px;
    }

    .text-sobre {
        font-size: 18px;
    }

    .circle1 {
        left: 140px;
        top: 2100px;
    }

    .circle2 {
        left: 500px;
        top: 2100px;
    }

    .circle3 {
        left: 810px;
        top: 2100px;
    }

    .inscreva-se {
        padding: 30px;
    }
}


@media screen and (max-width: 1200px) {

    /* SECTION HOME */

    #line-1 {
        font-size: 32px;
    }

    #line-2 {
        font-size: 32px;
    }

    #line-3 {
        font-size: 16px;
    }


    .imagem-home img {
        width: 400px;
        height: 300px;
    }

    .button-home {
        padding: 10px 30px;
    }

    /* SECTION SOBRE */
    .imagem-sobre img {
        width: 320px;
        height: 200px;
    }

    .text-sobre {
        font-size: 16px;
    }

    /* SECTION EVENTOS */

    .imagens-eventos{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }
    .circle1 {
        left: 160px;
        top: 2000px;
    }

    .circle2 {
        left: 620px;
        top: 2000px;
    }

    .circle3 {
        left: 400px;
        top: 2400px;
    }

    .inscreva-se {
        padding: 30px;
    }
}

@media screen and (max-width: 912px) {

    /* SECTION HOME */
   .home{
    display: flex;
    justify-content: center;
   }
    #line-1 {
        font-size: 32px;
    }

    #line-2 {
        margin: 0px;
        font-size: 32px;
    }

    #line-3 {
        font-size: 16px;
    }


    .imagem-home img {
        display: none;
    }

    .button-home {
        padding: 10px 30px;
    }

    /* SECTION SOBRE */
    .container-sobre{
        display: flex;
        justify-content: center;
    }

    .imagem-sobre img {
        display: none;
    }

    .text-sobre {
        font-size: 18px;
    }

    /* SECTION EVENTOS */
    .text-evento{
        font-size: 18px;
    }
    .imagens-eventos{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }
    .circle1 {
        left: 160px;
        top: 1920px;
    }

    .circle2 {
        left: 565px;
        top: 1920px;;
    }

    .circle3 {
        left: 360px;
        top: 2370px;
    }

    /* SECTION INSCREVA-SE */

    .inscreva-se {
        padding: 200px;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .container-inscreva-se{
        height: 1000px;
    }

    .button-registrar{
        width: 370px;
        padding: 15px 40px;
    }
}


@media screen and (max-width: 785px) {
    .cabecalho{
        padding: 30px 20px;
    }
    .menu-responsive{
        display: block;
    }
    .menu-responsive.ativo .line:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    
    .menu-responsive.ativo .line:nth-child(2) {
        opacity: 0;
    }
    .menu-responsive.ativo .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation{
        position: fixed;
        right: -100%;
        top: 90px;
        width: 55%;
        height: 100%;
        flex-direction: column;
        background: linear-gradient(180deg, #6A2FAB 0%, #6220CF 46.88%, #5517E3 100%);
        gap: -10px;
        transition: 0.5s all ease-in-out;
        transform: translateX(0);
        z-index: 5;
        padding: 30px;
        align-items: center;
    }
    .navigation.ativo{
        right: 0;;
    }

    .cabecalho a:hover {
        background: linear-gradient(180deg, #E98171 0%, #EA9571 48.44%, #E5AC73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    }

    /* SECTION HOME */
   .home{
    display: flex;
    justify-content: center;
   }
    #line-1 {
        font-size: 32px;
    }

    #line-2 {
        margin: 0px;
        font-size: 32px;
    }

    #line-3 {
        font-size: 16px;
    }


    .imagem-home img {
        display: none;
    }

    .button-home {
        padding: 10px 30px;
    }

    /* SECTION SOBRE */
    .container-sobre{
        display: flex;
        justify-content: center;
    }

    .imagem-sobre img {
        display: none;
    }

    .text-sobre {
        font-size: 18px;
    }

    /* SECTION EVENTOS */

    .circle1 {
        left: 270px;
        top: 1920px;
    }

    .circle2 {
        left: 270px;
        top: 2300px;
    }

    .circle3 {
        left: 270px;
        top: 2720px;
    }

    /* SECTION INSCREVA-SE */

    .inscreva-se {
        padding: 100px;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .container-inscreva-se{
        height: 1000px;
    }

    .button-registrar{
        width: 370px;
        padding: 15px 40px;
    }
}
